<a href="https://colab.research.google.com/github/MaNaN-3/2022-tutorial-2/blob/main/lineratRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MultiVariate linear regression with gradient descent**

In [ ]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as matplt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
import sys
main_df=pd.read_excel("./Real_estate_valuation_data_set.xlsx",dtype={"X4 number of convenience stores":float})
# print(os.cwd)
# main_df= pd.read_excel("")
main_df.drop(axis="columns", labels="X1 transaction date",inplace=True)
main_df.drop(axis="columns",labels="No",inplace=True)
# main_df.drop(axis="columns", labels="X4 number of convenience stores",inplace=True)
main_df["Y house price of unit area"].mean()

37.980193236714975

In [ ]:
main_df.isna().sum()
# main_df["X4 number of convenience stores"]=main_df
def normalisation(column,mul):
    sum=0
    min=sys.maxsize
    max=-min
    for i in main_df[column]:
        if(i<min):
            min=i
        if(i>max):
            max=i
    dev=main_df[column].std()

    for i,entry in enumerate(main_df[column]):
        main_df.at[i,column]=((float(entry-min)/(max-min)))*mul
        # main_df.at[i,column]= ((entry-main_df[column].mean())/dev)
# for i,entry in enumerate(main_df["X4 number of convenience stores"]):
#   main_df.at[i,"X4 number of convenience stores"]=float(entry)/10.0

normalisation("X2 house age",1)
normalisation("X3 distance to the nearest MRT station",1)
normalisation("X5 latitude",1)
normalisation("X6 longitude",1)

normalisation("X4 number of convenience stores", 0.1)
# normalisation("Y house price of unit area")

# normalisation("basement")
# normalisation("attic")
# normalisation("garage")
# main_df=(main_df-main_df.mean())/main_df.std()
main_df
# main_df["X3 distance to the nearest MRT station"].max()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,0.730594,0.009513,0.10,0.616941,0.719323,37.9
1,0.445205,0.043809,0.09,0.584949,0.711451,42.2
2,0.303653,0.083315,0.05,0.671231,0.758896,47.3
3,0.303653,0.083315,0.05,0.671231,0.758896,54.8
4,0.114155,0.056799,0.05,0.573194,0.743153,43.1
...,...,...,...,...,...,...
409,0.312785,0.627820,0.00,0.114881,0.326504,15.4
410,0.127854,0.010375,0.09,0.512118,0.750162,50.0
411,0.429224,0.056861,0.07,0.571498,0.715225,40.6
412,0.184932,0.012596,0.05,0.420141,0.723959,52.5
413,0.148402,0.010375,0.09,0.512118,0.750162,63.9

In [ ]:
from random import shuffle

jum=main_df.sample(frac=1)

test=int(0.2*len(main_df))
test_set=jum[:test]
training_set=jum[test:]

In [ ]:
train_x = training_set.iloc[:,[0,1,2,3,4]]
train_y = training_set.iloc[:,[5]]

test_x = test_set.iloc[:,[0,1,2,3,4]]
test_y = test_set.iloc[:,[5]]
test_x

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
244,0.109589,0.237669,0.03,0.485458,0.460858
166,0.000000,0.041706,0.06,0.549806,0.766120
11,0.143836,0.010375,0.09,0.512118,0.750162
252,0.134703,0.010375,0.09,0.512118,0.750162
341,0.296804,0.112410,0.02,0.504605,0.819280
...,...,...,...,...,...
231,0.369863,0.626694,0.00,0.124576,0.323916
71,0.810502,0.095497,0.03,0.527872,0.686004
330,0.730594,0.175322,0.00,0.209404,0.613867
400,0.611872,0.071060,0.05,0.512118,0.701962
60,0.251142,0.295117,0.02,0.382695,0.444037

In [ ]:
numpy_train_y = train_y.to_numpy()
numpy_train_x = train_x.to_numpy()

numpy_test_x = test_x.to_numpy()
numpy_test_y = test_y.to_numpy()
numpy_train_x.shape

(332, 5)

In [ ]:
def gradient(numpy_train_x,numpy_train_y,W):
      rows = numpy_train_x.shape[0]
      cols = numpy_train_x.shape[1]
      par_der_W = np.zeros(cols,dtype= 'float64')
      for i in range(rows):
          diff = (np.dot(numpy_train_x[i],W)-numpy_train_y[i])
          for j in range(cols):
              par_der_W[j] += ((diff*numpy_train_x[i,j])/rows)
      return par_der_W

def gradient_descent(reps, W, numpy_train_x,numpy_train_y,alpha):

    for i in range(reps):
        dL_dw= gradient(numpy_train_x,numpy_train_y,W)
        W -= alpha*dL_dw
        
    return W

In [ ]:
# def cost_function(numpy_train_x,numpy_train_y,W,bias):
#     total_cost = 0.0
#     rows = numpy_train_x.shape[0]
#     for i in range(rows):
#         y_pred = np.dot(numpy_train_x[i],W)+bias
#         cost += ((y_pred-numpy_train_y[i])**2/(2*rows))
#     return cost

In [ ]:
W_init= np.array([0.0,0.0,0.0,0.0,0.0])
alpha = 0.06
reps = 10000

w_opt = gradient_descent(reps,W_init,numpy_train_x,numpy_train_y,alpha)

print(w_opt)

# print(b_opt)

[-9.57464258  0.25766061 40.64882166 41.06900298 32.62873989]

TEST

In [ ]:
y_pred_test = np.zeros_like(numpy_test_y)
m = numpy_test_x.shape[0]
n = numpy_test_x.shape[1]

for i in range(m):
    y_pred_test[i] = (np.dot(w_opt,numpy_test_x[i]))

print(mean_squared_error(numpy_test_y,y_pred_test))
print(mean_absolute_error(numpy_test_y,y_pred_test))
print(mean_squared_error(numpy_test_y,y_pred_test))

130.13850818721014
8.563399431844804
130.13850818721014

Multivariate linear regression with closed form

In [ ]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, mean_absolute_error

main_df=pd.read_excel("./Real_estate_valuation_data_set.xlsx",dtype={"X4 number of convenience stores":float})

In [ ]:
normalisation("X2 house age",1)
normalisation("X3 distance to the nearest MRT station",10)
normalisation("X5 latitude",1)
normalisation("X6 longitude",1)

normalisation("X4 number of convenience stores",0.1)

main_df

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,0.730594,0.095127,0.10,0.616941,0.719323,37.9
1,2,2012.916667,0.445205,0.438094,0.09,0.584949,0.711451,42.2
2,3,2013.583333,0.303653,0.833151,0.05,0.671231,0.758896,47.3
3,4,2013.500000,0.303653,0.833151,0.05,0.671231,0.758896,54.8
4,5,2012.833333,0.114155,0.567991,0.05,0.573194,0.743153,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000000,0.312785,6.278205,0.00,0.114881,0.326504,15.4
410,411,2012.666667,0.127854,0.103754,0.09,0.512118,0.750162,50.0
411,412,2013.250000,0.429224,0.568611,0.07,0.571498,0.715225,40.6
412,413,2013.000000,0.184932,0.125958,0.05,0.420141,0.723959,52.5
413,414,2013.500000,0.148402,0.103754,0.09,0.512118,0.750162,63.9

In [ ]:
from random import shuffle

shuffled = main_df.sample(frac=1)

train = int(0.7*len(main_df))

training_set = shuffled[:train]
test_set = shuffled[train:]

In [ ]:
y_abs = -69
y_sq = -69
min_sq = 100
min_abs = 100
# for f in range(2):
train_x = training_set.iloc[:,[0,1,2,3,4]].to_numpy().astype(np.float64)
train_y = training_set.iloc[:,[5]].to_numpy().astype(np.float64)

test_x = test_set.iloc[:,[0,1,2,3,4]].to_numpy().astype(np.float64)
test_y = test_set.iloc[:,[5]].to_numpy().astype(np.float64)

w_opt = np.dot(np.linalg.pinv(train_x),train_y)

y_pred_test = np.zeros_like(test_y)
m,n = test_x.shape

for i in range(m):
  y_pred_test[i] = np.dot(test_x[i],w_opt)

# if(mean_squared_error(test_y,y_pred_test) < min_sq):
#   min_sq = mean_squared_error(test_y,y_pred_test)
#   y_sq = f+1 
# if(mean_absolute_error(test_y,y_pred_test) < min_abs):
#   min_abs = mean_absolute_error(test_y,y_pred_test)
#   y_abs = f+1
min_sq = mean_squared_error(test_y,y_pred_test)
min_abs = mean_absolute_error(test_y,y_pred_test)
# print(y_abs)
# print(y_sq)
print(min_sq)
print(min_abs)

0.012433499830756386
0.08864769486479185

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).